.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #DDEAF9;
    min-height: 100vh;
    font-family: 'Be Vietnam Pro'
}

.home-content {
    display: flex;
    flex-direction: column;  /* Garante que o conteúdo seja disposto verticalmente */
    justify-content: flex-start;
    gap: 20px;
    width: 100%;  /* Garante que o conteúdo ocupe toda a largura disponível */
    background-color: #DDEAF9;
    padding: 20px;
    margin-top: 40px;
}
