.integration-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.integration-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.integration-list-header h2 {
    font-size: 1.8rem;
    color: #333;
}

.add-integration-button {
    background-color: #0a6491;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-integration-button:hover {
    background-color: #0056b3;
}

.integration-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #E8F1FA;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Assegura que o card individual também use toda a largura */
}

.integration-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;  /* Faz o conteúdo expandir */
}

.integration-info {
    flex: 1;  /* Faz com que o texto ocupe o espaço restante */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.integration-info h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
}

.integration-info p {
    margin: 0;
    color: #555;
    font-size: 1rem;
}

.status-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status.active {
    background-color: #4CAF50;
    color: white;
}

.status.inactive {
    background-color: #F44336;
    color: white;
}

.last-updated {
    color: #777;
}

.integration-icon {
    margin-left: auto;  /* Isso move o ícone para a direita */
}

.warning-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
